main {
    width: 80%;
    position: relative;
    left: 10%;  
}
#logo {
    text-align: center;
    padding: 0em;
    margin: 0em;
}
#logo > img {
    width: 10%;
    height: auto;
}
h2 {
    font-size: 3em;
    text-align: center;
    padding: 0em 0em;
    margin: 0em;
    font-style: italic;
}