main {
    width: 80%;
    position: relative;
    left: 10%;  
}
h2 {
    font-size: 3em;
    text-align: center;
    padding: 0.4em 0em;
    margin: 0em;
    font-style: italic;
}
#catalog{
    padding: 0em;
    margin: 0em;
    font-size: 0em;
    text-align: center;
}
.photos {
    display: inline-block;
    width: 180px;
    height: 180px;
    padding: 0em;
    margin: 10px 12px;
}
@media only screen and (max-width:800px){
    /* For phones start */
    .photos{
        margin: 5px 5px;
    }
}